*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    bottom: 5px;
    gap: 20px;
}