*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    padding: 200px 0;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}
.btns{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}